.login-form{
    margin-left: 35%; 
    margin-top: 15%; 
    width: 30%; 
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

body{
    background-image: url(../../assets/emp_bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

#login-button{
    margin-left: 0%; 
    width: 100%;
}

#login-input1, #login-input2{
    width: 145%;
}